/* Default styling for the <body> */
body {
	background-color: black;
	color: rgb(175, 175, 175);
			
}

/* Default styling for links */
a {
	color: rgb(227, 52, 52);
}

/* Default styling for horizontal rules */
hr {
	background-color: darkred;
	border-width: 0;
	color: red;
	height: 2px;
}

/* Centre styling for <div> */
div.Centre {
	border: 2px solid darkred;
	margin: auto;
	padding: 10px;
	width: 50%;
}

/* Ghostly style classes for any text element */
.Ghostly {
	color: rgb(200, 200, 200);
	-webkit-text-stroke: 4px rgba(175, 175, 175, 0.35);
}
.GhostlyRed {
	color: red;
	-webkit-text-stroke: 6px rgba(175, 75, 75, 0.35);
}

/* Misc style classes for any element - mostly used to reduce inline CSS */
.DisplayInlineB {
    display: inline-block;
}
.NoSpaceTop {
    margin-top: 0;
}
.NoSpaceBottom {
	margin-bottom: 0;
}
.NoPadTop {
    padding-top: 0; 
}
.NoPadBottom {
    padding-bottom: 0; 
}
.TextCentre {
    text-align: center;
}