/* Default styling for the <body> */
body {
	background-color: #161616;
	color: #cc8e6a;
			
}

/* Default styling for links */
a {
	color: #c45f24;
}

/* Default styling for horizontal rules */
hr {
	background-color: #6d300c;
	border-width: 0;
	color: #6d300c;
	height: 2px;
}

/* Centre styling for <div> */
div.Centre {
	border: 2px solid #6d300c;
	margin: auto;
	padding: 10px;
	width: 50%;
}

/* Ghostly style classes for any text element */
.Ghostly {
	color: #cc8e6a;
	-webkit-text-stroke: 4px rgba(201, 111, 37, 0.35);
}
.GhostlyBrown {
	color: #c9520e;
	-webkit-text-stroke: 6px rgba(201, 111, 37, 0.35);
}

/* Misc style classes for any element - mostly used to reduce inline CSS */
.DisplayInlineB {
    display: inline-block;
}
.NoSpaceTop {
    margin-top: 0;
}
.NoSpaceBottom {
	margin-bottom: 0;
}
.NoPadTop {
    padding-top: 0; 
}
.NoPadBottom {
    padding-bottom: 0; 
}
.TextCentre {
    text-align: center;
}