/* Default styling for the <body> */
body {
	background-color: rgb(50, 50, 50);
	color: rgb(175, 175, 75);
}

/* Default styling for links */
a {
	color: rgb(225, 225, 75);
}

/* Default styling for horizontal rules */
hr {
	background-color: rgb(125, 125, 75);
	border-width: 0;
	color: yellow;
	height: 2px;
}

/* Centre styling for <div> */
div.Centre {
	border: 2px solid rgb(125, 125, 75);
	margin: auto;
	padding: 10px;
	width: 50%;
}
div.SourcePhoto {
    width: 360px;
    margin: auto;
}

/* Ghostly style classes for any text element */
.GhostlyYellow {
	color: yellow;
	-webkit-text-stroke: 6px rgba(175, 175, 175, 0.35);
}

/* Misc style classes for any element - mostly used to reduce inline CSS */
.DisplayInlineB {
    display: inline-block;
}
.NoSpaceTop {
    margin-top: 0;
}
.NoSpaceBottom {
	margin-bottom: 0;
}
.NoPadTop {
    padding-top: 0; 
}
.NoPadBottom {
    padding-bottom: 0; 
}
.TextCentre {
    text-align: center;
}